<ion-content>
  <div class="ion-text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title class="text-center" style="font-size: 24px; color: white;">
          Felicidades {{ username }}<br>¡Haz quedado presente en tu clase!
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-center">
        <!-- Agrega una imagen centrada debajo del mensaje -->
        <img src="../../assets/icon/favicon.png" alt="Tu imagen" width="200" height="200">
      </ion-card-content>
      
      <!-- Resto del contenido de la página de inicio -->
    </ion-card>
  </div>
</ion-content>
